{% extends 'auth.html' %}

{% block dialog_id %}signin{% endblock %}

{% block dialog_name %}注册{% endblock %}

{% block dialog_form %}
    <form class="form-login" method="POST" action="{% url 'signin' %}">
        {% if signin_error %}
            <input class="form-control input-lg" maxlength="16" name="email" placeholder="email" value='{{ signin_error.email }}' type="email" />
            <input class="form-control input-lg" maxlength="16" name="username" placeholder="username" value='{{ signin_error.username }}' type="text" />
            <input class="form-control input-lg" maxlength="16" name="password" placeholder="password" value='{{ signin_error.password }}' type="password" />
            <script>$('#signin').modal('show');</script>
            <div class="form-group has-error">
                <span class="help-block">{{ signin_error.error_message }}</span>
            </div>
        {% else %}
            <input class="form-control input-lg" maxlength="16" name="email" placeholder="email" type="email" />
            <input class="form-control input-lg" maxlength="16" name="username" placeholder="username" type="text" />
            <input class="form-control input-lg" maxlength="16" name="password" placeholder="password" type="password" />
        {% endif %}
        {% csrf_token %}
        <hr />
        <button class="btn btn-primary" type="submit">注册</button>
        <button class="btn btn-primary" type="reset">重置</button>
     </form>
{% endblock %}